## Importing Pandas and other libraries. Setting Column widths.

In [ ]:
import pandas as pd
import numpy as np
import xlrd

pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_columns', 100)

Importing Annual Groundwater data (excel files) for both the states. Cleaning it (changing column names, adding a column for year, and dropping top two rows which were just random headers). Exporting a CSV for each year.

# 1996

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_1996.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <199601> to <199612>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 1996
df.to_csv("GWDistrict-96.csv", index=False)

# 1997

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_1997.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <199701> to <199712>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 1997
df.to_csv("GWDistrict-97.csv", index=False)

# 1998

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_1998.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <199801> to <199812>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 1998
df.to_csv("GWDistrict-98.csv", index=False)

# 1999

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_1999.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <199901> to <199912>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 1999
df.to_csv("GWDistrict-99.csv", index=False)

# 2000

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2000.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200001> to <200012>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2000
df.to_csv("GWDistrict-00.csv", index=False)

# 2001

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2001.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200101> to <200112>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2001
df.to_csv("GWDistrict-01.csv", index=False)

# 2002

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2002.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200201> to <200212>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2002
df.to_csv("GWDistrict-02.csv", index=False)

# 2003

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2003.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200301> to <200312>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2003
df.to_csv("GWDistrict-03.csv", index=False)

# 2004

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2004.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200401> to <200412>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2004
df.to_csv("GWDistrict-04.csv", index=False)

# 2005

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2005.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200501> to <200512>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2005
df.to_csv("GWDistrict-05.csv", index=False)

# 2006

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2006.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200601> to <200612>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2006
df.to_csv("GWDistrict-06.csv", index=False)

# 2007

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2007.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200701> to <200712>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2007
df.to_csv("GWDistrict-07.csv", index=False)

# 2008

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2008.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200801> to <200812>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2008
df.to_csv("GWDistrict-08.csv", index=False)

# 2009

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2009.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <200901> to <200912>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2009
df.to_csv("GWDistrict-09.csv", index=False)

# 2010

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2010.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201001> to <201012>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2010
df.to_csv("GWDistrict-10.csv", index=False)

# 2011

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2011.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201101> to <201112>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2011
df.to_csv("GWDistrict-11.csv", index=False)

# 2012

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2012.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201201> to <201212>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2012
df.to_csv("GWDistrict-12.csv", index=False)

# 2013

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2013.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201301> to <201312>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2013
df.to_csv("GWDistrict-13.csv", index=False)

# 2014

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2014.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201401> to <201412>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2014
df.to_csv("GWDistrict-14.csv", index=False)

# 2015

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2015.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201501> to <201512>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2015
df.to_csv("GWDistrict-15.csv", index=False)

# 2016

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2016.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201601> to <201612>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2016
df.to_csv("GWDistrict-16.csv", index=False)

# 2017

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2017.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201701> to <201712>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2017
df.to_csv("GWDistrict-17.csv", index=False)

# 2018

In [ ]:
df = pd.read_excel("/Users/khanfazil/Desktop/master's_project/GW_Levels_Districts/Jan-Dec_2018.xls")
df = df.replace("-", "")
df = df.rename(columns={
    "DISTRICTWISE Ground water Level (in m.) Report (<ALL AGENCIES> - <201801> to <201812>)": "STATE",
    "Unnamed: 1": "DISTRICT",
    "Unnamed: 2": "Jan",
    "Unnamed: 3": "Feb",
    "Unnamed: 4": "Mar",
    "Unnamed: 5": "Apr",
    "Unnamed: 6": "May",
    "Unnamed: 7": "Jun",
    "Unnamed: 8": "Jul",
    "Unnamed: 9": "Aug",
    "Unnamed: 10": "Sep",
    "Unnamed: 11": "Oct",
    "Unnamed: 12": "Nov",
    "Unnamed: 13": "Dec",
})
df = df.drop([0,1])
df['YEAR'] = 2018
df.to_csv("GWDistrict-18.csv", index=False)

# Concatenating All the CSVs

In [ ]:
csv_file_list = ['GWDistrict-96.csv', 'GWDistrict-97.csv', 'GWDistrict-98.csv', 'GWDistrict-99.csv', 'GWDistrict-00.csv',
                'GWDistrict-01.csv', 'GWDistrict-02.csv', 'GWDistrict-03.csv', 'GWDistrict-04.csv', 'GWDistrict-05.csv',
                'GWDistrict-06.csv', 'GWDistrict-07.csv', 'GWDistrict-08.csv', 'GWDistrict-09.csv', 'GWDistrict-10.csv',
                'GWDistrict-11.csv', 'GWDistrict-12.csv', 'GWDistrict-13.csv', 'GWDistrict-14.csv', 'GWDistrict-15.csv',
                'GWDistrict-16.csv', 'GWDistrict-17.csv', 'GWDistrict-18.csv']

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(filename))

df = pd.concat(list_of_dataframes)

### Section 1

Making a new dataframe df1 with just the years 1996 and 2018 to have comparable values for pre-monsoon levels.

In [ ]:
df1 = df[(df.YEAR == 1996) | (df.YEAR == 2018)]

Filtering data further to make a new dataframe (df_May) to just have May values.

In [ ]:
df_May = df1[['STATE','DISTRICT', 'YEAR', 'May']]

Separating 1996 and 2018 in new dataframes.

In [ ]:
df_May['1996'] = df_May['YEAR'] == 1996

In [ ]:
df_May['1996'] = df_May[df_May['YEAR']==1996]['May']

In [ ]:
df_May['2018'] = df_May[df_May['YEAR']==2018]['May']

Assigning the May values to their respective year columns which were created in the cells above.

In [ ]:
df_May = df_May[['STATE', 'DISTRICT', '1996', '2018']]

Plotting the data as a horizontal bar to have a first look at the change across districts in water levels between 1996 and 2018.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df_May.plot(x='DISTRICT', kind='barh', figsize=(10, 30))

As I later noticed the approach to make separate year columns gave me duplicates for each of the districts. Resulting in 82 rows instead of 41. I'll fix this later on.

Doing the same thing with Altair. Returning to Year being a single column and values in a column of its own titled May. new dataframe is called dfNEW.

In [ ]:
import altair as alt

In [ ]:
dfNEW = df1[['STATE','DISTRICT', 'YEAR', 'May']]

In [ ]:
alt.Chart(dfNEW).mark_bar().encode(
    x = 'May:Q',
    y = 'YEAR:N',
    color = 'YEAR:N',
    row = 'DISTRICT:N',
    tooltip = ['DISTRICT','May'],
).properties(
    width=500,
    height=70
)

### Side-track

Making a plottable timeseries dataframe for May (pre-monsoon) and Nov (post-monsson) levels.

In [ ]:
df_timeSeries = df[['STATE', 'DISTRICT', 'May', 'Nov', 'YEAR']]

### Section 2

Making separate dataframes for both the states from the Altair plottable dfNEW.

In [ ]:
dfHR = dfNEW[dfNEW['STATE'] == "HARYANA"]

In [ ]:
dfPN = dfNEW[dfNEW['STATE'] == "PUNJAB"]

In [ ]:
HRMap = alt.Chart(dfHR).mark_bar().encode(
    x = 'May:Q',
    y = 'YEAR:N',
    color = 'YEAR:N',
    row = 'DISTRICT:N',
    tooltip = ['DISTRICT','May'],
).properties(
    width=500,
    height=70
)

HRMap

In [ ]:
PNMap = alt.Chart(dfPN).mark_bar().encode(
    x = 'May:Q',
    y = 'YEAR:N',
    color = 'YEAR:N',
    row = 'DISTRICT:N',
    tooltip = ['DISTRICT','May'],
).properties(
    width=500,
    height=70
)
PNMap

Calculating overall state-level decline in GW levels.

In [ ]:
dfPN.groupby('YEAR').May.mean()

In [ ]:
dfHR.groupby('YEAR').May.mean()

### Section 3

Converting meter values to feet (because American audience). Also, calculating % change.

Making separate "Just May" dataframes for both states from df_May (The dataframe that has duplicate values for each district). I tried this for a different assingment. I will later do the same thing more properly.

In [ ]:
dfHRMay = df_May[df_May['STATE'] == "HARYANA"]

In [ ]:
dfPNMay = df_May[df_May['STATE'] == "PUNJAB"]

Dropping duplicates here.

In [ ]:
dfHRMay = dfHRMay.drop_duplicates(subset=['DISTRICT'])

In [ ]:
dfHRMay['1996'] = round(dfHRMay['1996'] * 3.281)
dfHRMay['2018'] = round(dfHRMay['2018'] * 3.281)

In [ ]:
dfHRMay['%Change'] = round(((dfHRMay['2018'] - dfHRMay['1996']) / dfHRMay['1996']) * 100)

In [ ]:
dfPNMay = dfPNMay.drop_duplicates(subset=['DISTRICT'])
dfPNMay['1996'] = round(dfPNMay['1996'] * 3.281)
dfPNMay['2018'] = round(dfPNMay['2018'] * 3.281)
dfPNMay['%Change'] = round(((dfPNMay['2018'] - dfPNMay['1996']) / dfPNMay['1996']) * 100)

Merging the two resultant dataframes and saving a csv for records.

In [ ]:
mergedDistricts = dfHRMay.append(dfPNMay, ignore_index=True)

In [ ]:
mergedDistricts.to_csv('mergedDistricts.csv', index=False)

### Section 4

Kind of doing the same calculations for Nov (post-monsoon) levels.

In [ ]:
df2 = df[(df.YEAR == 1996) | (df.YEAR == 2017)]

In [ ]:
dfNov = df2[['STATE','DISTRICT', 'YEAR', 'Nov']]

This is where I think duplicates are created. When I make a new column for 1996, that column also get values for 2018 and vice-versa.

In [ ]:
dfNov['1996'] = dfNov[dfNov['YEAR']==1996]['Nov']

In [ ]:
dfNov['2017'] = dfNov[dfNov['YEAR']==2017]['Nov']

In [ ]:
dfNov = dfNov[['STATE', 'DISTRICT', '1996', '2017']]

Making separate dataframes for states

In [ ]:
dfHRNov = dfNov[dfNov['STATE'] == "HARYANA"]

In [ ]:
dfPNNov = dfNov[dfNov['STATE'] == "PUNJAB"]

In [ ]:
dfHRNov = dfHRNov.drop_duplicates(subset=['DISTRICT'])

In [ ]:
dfPNNov = dfPNNov.drop_duplicates(subset=['DISTRICT'])

Calculating overall state change in GW levels.

In [ ]:
dfHRNov['1996'].mean(), dfHRNov['2017'].mean()

In [ ]:
dfPNNov['1996'].mean(), dfPNNov['2017'].mean()

### Side-track 3

Using dfNEW. Converting meters to feet and saving a csv.

In [ ]:
dfNEW.May = round(dfNEW.May * 3.281)

In [ ]:
dfNEW.to_csv('dfNEW.csv', index=False)

### Section 5

Going back to the Original dataframe.

Dropping all the columns which won't be used.

In [ ]:
df = df.drop(columns=['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Dec'])

Making a dataframe form Punjab's districts and converting values from meters to feet.

In [ ]:
PunjabDist18 = df[df.STATE == "PUNJAB"]

In [ ]:
PunjabDist18.May = PunjabDist18.May * 3.281
PunjabDist18.Nov = PunjabDist18.Nov * 3.281

Commented out pivot code that I used to copy paste time-series values and racing bars later.

In [ ]:
# PunjabDistMay18.pivot_table(values='May',index='DISTRICT',columns='YEAR')

In [ ]:
# PunjabDistMay18.pivot_table(values='Nov',index='DISTRICT',columns='YEAR')

Doing the same thing for Haryana

In [ ]:
HaryanaDist18 = df[df.STATE == "HARYANA"]

In [ ]:
HaryanaDist18.May = HaryanaDist18.May * 3.281
HaryanaDist18.Nov = HaryanaDist18.Nov * 3.281

In [ ]:
# HaryanaDist18.pivot_table(values='May',index='DISTRICT',columns='YEAR')

In [ ]:
# HaryanaDist18.pivot_table(values='Nov',index='DISTRICT',columns='YEAR')

Getting pre-post monsoon measurements together to make the table later on.

In [ ]:
PunjabDist18 = PunjabDist18[(PunjabDist18.YEAR == 1996) | (PunjabDist18.YEAR == 2017)]

In [ ]:
PunjabDist18.to_csv("PunjabDistPrePost.csv", index=False)

In [ ]:
HaryanaDist18 = HaryanaDist18[(HaryanaDist18.YEAR == 1996) | (HaryanaDist18.YEAR == 2017)]

In [ ]:
HaryanaDist18.to_csv("HaryanaDistPrePost.csv", index=False)

In [ ]:
csv_list = ["/Users/khanfazil/Desktop/master's_project/PunjabDistPrePost.csv",
                "/Users/khanfazil/Desktop/master's_project/HaryanaDistPrePost.csv"]

list_of_dataframes = []
for filename in csv_list:
    list_of_dataframes.append(pd.read_csv(filename))

prePostLevels = pd.concat(list_of_dataframes)

In [ ]:
# prePostLevels.pivot_table(values='May',index='DISTRICT',columns='YEAR')

In [ ]:
# prePostLevels.pivot_table(values='Nov',index='DISTRICT',columns='YEAR')

### Section 6

Tried to merge the dataframe with a districts GeoJson and export the merged file as a GeoJson. Did not work.

In [ ]:
import geopandas as gpd

In [ ]:
import geojson

In [ ]:
DistrictsGeo = gpd.read_file("2011_Dist.json")

In [ ]:
DistrictsGeo = DistrictsGeo.rename(columns={
    "ST_NM": "STATE"
})
DistrictsGeo = DistrictsGeo.drop(columns=['censuscode'])

In [ ]:
DistrictsGeo = DistrictsGeo[(DistrictsGeo.STATE == "Punjab") | (DistrictsGeo.STATE == "Haryana")]

In [ ]:
# DistrictsGeo = DistrictsGeo.drop_duplicates(subset=['DISTRICT'])

In [ ]:
DistrictsGeo.DISTRICT = DistrictsGeo.DISTRICT.str.upper()

In [ ]:
dfDistDeo = df.merge(DistrictsGeo, on='DISTRICT', how='left')

In [ ]:
dfDistDeo.to_csv("dfDistDeo.csv", index=False)